@CHARSET "UTF-8";

table.expirationPage{
	vertical-align: center;
	margin: auto;
	background-color: white;
	background-image: none;
	border-width: 4px;
	border-style: solid;
	border-color: #FFCC00;
	padding: 0px;
	border-spacing: 0px;
}

table.expirationPage tr{
	height: 30px;
}


body{
	background: url(../img/backgroundForest.png) no-repeat;
}

table.outerHeaderBorder{
	margin: auto;
	background-color: #FFCC00;
	border-width: 6px;
	border-style: solid;
	border-color: #FFCC00;
	padding: 0px;
	border-spacing: 0px;
	
}

table.coreMainPage {
	width: 1024px;
	margin: auto;
	border-style: solid;
	border-width: 6px;
	background-color: #FFCC00;
	border-color: #FFCC00;
}

table.interCoreMainPage{
	width: 100%;
	background-color: white;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

hr {
  border: 1px;
  width: 100%;
  height: 1px;
  color: red;
  background-color: red;
}

table.navigationHorizontalPanel td.downHr{
	border-bottom: 1px solid black;
	text-align: center;
}

table.navigationHorizontalPanel td.input{
	border-bottom: 1px solid black;
}

table.outerNavigationHorizontalPanel{
	margin: auto;
	background-color: #FFCC00;
	border-width: 6px;
	border-style: solid;
	border-color: #FFCC00;
	padding: 0px;
	border-spacing: 0px;
}

table.navigationHorizontalPanel{
	width: 1024px;
	height: 50px;
	
	padding: 0px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	margin: 0 0 0 0;
    border-spacing: 0px;
    background: url(../img/menuBarInner.png);
}

table.navigationHorizontalPanel td.navigation{
	width: 12.5%;
	text-align: center;
	vertical-align: center;
}


table.centerWrapper{
	width: 1044px;
	margin: auto;
	border-width: 0 0 0 0;
}


table.centerWrapper td{ 
	vertical-align: top;
}

table.outerNavigationPanelBorder{
	margin: auto;
	width: 204px;
	height: 300px;
	//background-color: #FFCC00;
	border-width: 6px;

	border-style: solid;
	border-color: #FFCC00;
	padding: 0px;
	border-spacing: 0px;
	background: url(../img/submenuInner.png);
}

table.interNavigationPanel{
	width: 100%;
	//height: 100%;
	padding: 0px;
	//background: url(../img/submenuInner.png);
}

table.interNavigationPanel td{
	vertical-align: top;
}

table.interNavigationPanel tr{
	height: 20px;
	vertical-align: top;
}


table.whereIam {
	width: 100%;
	background-color: white;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	padding: 0px;
	background: url(../img/mainPageNavigation.png);
}

table.pageContent{
	width: 100%;
	background-color: white;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	padding: 0px;
}

table.outerMainContentBorder{
	margin: auto;
	width: 820px;
	background-color: #FFCC00;
	border-width: 6px;
	border-style: solid;
	border-color: #FFCC00;
	padding: 0px;
	border-spacing: 0px;
	vertical-align: top;
}

table.mainContent{
	width: 100%; 
	background-color: #FFCC00;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
}

table.headerBorder{
	width : 1024px;                                  
    height : 100px;
    border-style: solid;
    border-spacing: 0px;
    padding: 0px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
    border-spacing: 0px;
    background: url(../img/headerInner.png);
}

table.headerBorder td.headerLogo{
	width: 600px;                                  
    height: 100px;
    text-align: right;
    font-family: Mufferaw,arial;
    font-size: 65px;
	font-color: #000033;
}

table.headerBorder td.headerSpare{
	height : 100px;
	
}

table.headerBorder td.headerLogin{
	width : 370px; 
	height : 100px;
	text-align: right;
	
}

table.headerBorder td.headerStatus{
	width : 250px; 
	height : 100px;
}

table.form {
	width : 360px; 
	height : 90px;
	border-width: 0 0 0 0;
	padding: 0px;
	display: block;
	text-align: right;
}

table.form td.label {
	width : 260px; 
	height : 15px;
	text-align: right;
	padding: 0px;
}

table.form td.input{
	width : 100px; 
	height : 15px;
	padding: 0px;
	text-align: center;
}

table.form td.loginButton{
	width : 50px; 
	height : 15px;
	padding: 0px;
}

table.form td.registrationButton{
	width : 50px; 
	height : 15px;
	padding: 0px;
}

table.loggedUser{
	width : 350px;
	padding: 0px;
	border-width: 0 0 0 0;
	padding: 0px;
	border-style: solid;
}

table.loggedUser td.label {
	width : 220px; 
	height : 15px;
	text-align: right;
	padding: 0px;
}

table.loggedUser td.nameLabel {
	width : 220px; 
	height : 15px;
	text-align: left;
	padding: 0px;
}

table.loggedUser td.logoutButton{
	width : 50px; 
	height : 15px;
	padding: 0px;
	text-align: right;
}
table.loggedUser td.userProfileLink{
	width : 220px; 
	height : 15px;
	padding: 0px;
	text-align: left;
}


table.registration{
	background-color: white;
	margin: auto;
	border-width: 0 0 0 0;
	border-spacing: 0px;
}

table.registration tr.inputRow{
	height: 30px;
	text-align: left;
}

/* ### HLAVNA PAGE - NOVINKY ### */

table.newJobList{
	width: 700px; 
	height: 100px;
	border-style: solid;
}

table.newJobList td.jobIcon{
	width: 100px;
	height: 100px;
	background: url(../img/workIcon.jpg);
}

table.newJobList td.jobNewList{
	width: 600px;
	height: 100px;
}

table.newCommentList{
	width: 700px; 
	height: 100px;
	border-style: solid;
}

table.newCommentList td.eventIcon{
	width: 100px;
	height: 100px;
	background: url(../img/commentIcon.jpg);
}

table.newCommentList td.commentNewList{
	width: 600px;
	height: 100px;
}

table.newEventList{
	width: 700px; 
	height: 100px;
	border-style: solid;
}

table.newEventList td.eventIcon{
	width: 100px;
	height: 100px;
	background: url(../img/eventIcon.jpg);
}

table.newEventList td.eventNewList{
	width: 600px;
	height: 100px;
}


table.jobList{

}

table.jobDetail{
	background-color: white;
	margin: auto;
	border-width: 0 0 0 0;
	border-spacing: 0px;
}

table.jobDetail tr.inputRow{
	height: 30px;
	text-align: left;
}

table.jobListDataTable td{
//	width: 100px;
}

table.jobListDataTable {
	font-weight: bold;
	background-color: white;
	margin: auto;
	border-width: 0 0 0 0;
//	border-spacing: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	padding: 0px;
//	cellspacing: 0px;
}


##### tu je ZOZNAM ######
	
thead {
	background-color: #fff;
	color: blue;
}

thead tr.navigation{
	font-family: arial;
	font-size: 14px;
	color: #000033;
}

div.navigatorLabel{
	font-family: arial;
	font-size: 14px;
	color: #000033;
}

div.navigator{
	font-family: arial;
	font-size: 14px;
	color: #000033;
}

thead th.wicket_orderNone{
	font-size: 13px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

thead th.seeDetail{
	font-size: 13px;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
}

tbody {
	padding: 0px;
	border-spacing: 0px;
	margin: 0px;
	cellpadding: 0px;
	cellspacing: 0px;
}

tbody tr.even{
	height: 25px;
	background-color: #FFF9E5;
	margin: 0px;
	padding: 0px; 
}

tbody tr.odd{
	height: 25px;
	background-color: #FFEDB3;
	margin: 0px;
	padding: 0px; 
}

tbody td.advertType{
	width: 60px;
	border-width: 1px 1px 0px 0;
	border-style: solid;
}

tbody td.creationDate{
	width: 90px;
	border-width: 1px 1px 0px 0;
	border-style: solid;
}

tbody td.specification{
	width: 150px;
	border-width: 1px 1px 0px 0;
	border-style: solid;
}

tbody td.town{
	width: 100px;
	border-width: 1px 1px 0px 0;
	border-style: solid;
}

tbody td.jobSector{
	width: 120px;
	border-width: 1px 1px 0px 0;
	border-style: solid;
}

tbody td.seeDetail{
	width: 70px;
	text-align: center;
	border-width: 1px 0px 0px 0;
	border-style: solid;
	text-color: #000033;
}

table.commentList {
	cellpadding: 0px;
	cellspacing: 0px;
}

table.commentItem {
	width: 600px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	cellpadding: 0px;
	border-spacing: 0px;
}

table.commentItem td{
	border-width: thin;
	border-style: solid;
	cellpadding: 0px;
	border-spacing: 0px;
}

table.commentItem td.commentName{
	background-color: #FAF0E6;
	border-spacing: 0px;
}

table.commentItem td.commentCreateDate{
	text-align: right;
}

/* ### button clean ### */

input.clear {
background: url(../img/FilterCancel.png) no-repeat;
cursor:pointer;
width: 25px;
height: 25px;
border: none;
}

input.go {
background: url(../img/Filter.png) no-repeat;
cursor:pointer;
width: 25px;
height: 25px;
border: none;
}

table.navigationHorizontalPanel td.input{
vertical-align: middle;
width: 300px;
}

table.navigationHorizontalPanel input.searchButton {
background: url(../img/Search.png) no-repeat;
cursor:pointer;
width: 25px;
height: 25px;
border: none;
vertical-align: bottom;
}

/* Obrazky na event modul */

img.eventPicture{
	max-width: 450px;
	max-height: 450px;
	border: 1px solid black;
}


#################

a:link {
	text-decoration: none;
    color: #003D52;
}

a:hover {
	text-decoration: none;
    color: blue;
}


